<div class="container-fluid position-relative" id="img-text" class="img-fluid">
  <div class="container">
    <h1 id="text-img"><strong>¿QUIÉNES SOMOS?</strong></h1>
  </div>
</div>

<div class="container-fluid" id="backgroud-img">
  <div class="container-fluid pt-5">
    <div class="container pb-3 pt-3">
      <div class="row">
        <div class="col">
          <div class="grid-container">
            <div class="circlle orange"></div>
            <div class="image"><img src="../../assets/img/Generales/WhatsAppImage2024.jpeg" alt="Imagen 1"></div>
            <div class="image1"><img src="../../assets/img/Generales/2023PodemosSer.jpg" alt="Imagen 2"></div>
            <div class="square purple"></div>
          </div>

        </div>
        <div class="col">
          <br>
          <p class="custom-paragraph">
            Es un proyecto de la Fundación Konrad Adenauer (KAS) en Colombia que busca promover el liderazgo político de
            adolescentes, jóvenes y mujeres en Colombia para que cada vez sean más en las esferas de poder y toma de
            decisión.
            Este surgió en el 2021 con el lanzamiento de la publicación “Podemos ser: mujeres jóvenes influyentes en la
            política Colombia" y la caja de herramientas "Puedo Ser por Colombiana". <br>
            <br>
            Este incluye tres tipos de espacios: <br> 1) Socialización <br> 2) Mesa técnica <br>3) Programa de mentorías
          </p>
        </div>
      </div>
    <div class="tittle-style text-center">
      <h2 class="p-5">Coautoras</h2>
    </div>
      </div>
  </div>


  <div class="container-fluid pb-5">
    <div class="custom-container justify-content-center">
      <div class="row p-5">
        <div class="col">
          <div class="custom-container">
            <div class="profile-cardT">
              <div class="autNameT">
                <h2 class="autNameh2">Tatiana <br> Niño Martinez </h2>
              </div>
                <p class="autText">Co-creadora del proyecto "Podemos Ser". Politóloga e internacionalista. Magíster en Construcción de Paz. Experiencia en temas de seguridad, justicia transicional, enfoque de género y cooperación internacional
                </p>
            </div>
            <div>
                <img src="../../assets/img/Generales/MAVD_Z.PNG" class="img-autoras" alt="Tatiana Niño Martinez" >
            </div>
        </div>

        </div>
        <div class="col">
          <div class="custom-container">
            <div class="profile-card">
              <div class="autNameA">
                <h2 class="autNameh2">Alejandra Vargas Durango</h2>
              </div>
              <p class="autText">Co-creadora del proyecto "Podemos Ser". Economista y Profesional en Gobierno y Asuntos Públicos. Experiencia en investigación e implementación de estrategias de impacto colectivo, enmarcados en el desarrollo humano, la educación y la perspectiva de género.</p>
          </div>
            <div>
              <img src="../../assets/img/Generales/TNM_Z.PNG" class="img-autoras" alt="Alejandra Vargas Durango"
                >
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
