<div class="container">
  <h1>¿Quienes somos?</h1>

  <p>
  Es un proyecto de la Fundación Konrad Adenauer (KAS) en Colombia que busca promover el liderazgo político de adolescentes, jóvenes y mujeres en Colombia para que cada vez sean más en las esferas de poder y toma de decisión. 
  Este surgió en el 2021 con el lanzamiento de la publicación “Podemos ser: mujeres jóvenes influyentes en la política Colombia" y la caja de herramientas "Puedo Ser por Colombia".

  Este incluye tres tipos de espacios: 1) Socialización 2) Mesa técnica 3)Programa de mentorías
</p>

<div class="ratio ratio-16x9">
  <iframe src="https://youtu.be/ymCpVsB0MH0?si=e9e9IJOigg_uK8OL" title="Podemos Ser: mujeres jóvenes influyentes en la política colombiana" allowfullscreen></iframe>
</div>

<h2>Coautoras</h2>

<p>
  <img src="/assets/img/2021/09 Septiembre_Manizales (3).jpg" alt="Descripción de la imagen" width="300" height="450"><br>
  Alejanra Vargas Durango<br>
  co-creadora del proyecto "Podemos Ser"<br>
  &bull; Correo: alejandra.vargasdurango@gmail.com<br>
  &bull; Intagram: @alejandravargasdurango
</p>


<p>
  <img src="/assets/img/2021/09 Septiembre_Manizales (3).jpg" alt="Descripción de la imagen" width="300" height="450"><br>
  Tatiana Niño<br>
  co-creadora del proyecto "Podemos Ser"<br>
  &bull; Correo: tatiananm26@gmail.com<br>
  &bull; Intagram: @tatianan_<br>
</p> 

</div>
