@import "../app.component.css";


#img-text {
  position: relative;
  background-image: url('../../assets/img/BG/08 Agosto_Ibagué.jpg');
  background-size: cover;
  background-position: center;
  height: 376px;
}
.custom-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
}

#img-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(178deg, rgba(255,255,255,0) 42%, #df7c53 100%);
}

#text-img {
  color: white;
  font-size: 90px;
  position: absolute;
  bottom: 0;
  right: 300px;
  z-index: 1; /* Para asegurarse de que el texto esté encima del fondo azul */
}

#backgroud-img {
  background-image: url('../../assets/img/BG/KONRAD_30mujeres_texturas4.png');
  background-size: cover;
  background-position: center;
}
a{
  text-decoration: none;
  color: #000;
}

.custom-paragraph {
  font-size: 1.5rem; /* Tamaño de la fuente */
  color: #4f2352;   /* Color morado */
}


.img-about{
  max-width: 230px;
  height: auto;
  margin-left:260px;
}

#icon-email{
  color: #562055;
}
#icon-link{
  color: #f47649;
}
#icon-inst{
  color: #0c8cab;
}
h2 {
  position: relative;
  color: white;
  display: inline-block;
}
.autNameA::before{
  content: '';
  position: absolute;
  left: -0.3vw;
  bottom: 3.3%;
  width: 105%;
  height: 260px;
  background-color: #f47649;
  z-index: -1;
  border-radius: 30px;
}
.autNameA{
  font-size: 31px !important;
}
.autNameA::after{
  content: '';
  position: absolute;
  left: 13.9vw;
  bottom: 64.9%;
  width: 30%;
  height: 24%;
  background-color: #0c8cab;
  z-index: -1;
  border-radius: 0 50% 50% 0;
}
#icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.autNameT::before{
  content: '';
  position: absolute;
  left: -0.8vw;
  bottom: 5%;
  width: 105%;
  height: 260px;
  background-color: #0c8cab;
  z-index: -1;
  border-radius: 30px;
}
.autNameT{
  font-size: 31px !important;
}
.autNameT::after{
  content: '';
  position: absolute;
  left: 13.4vw;
  bottom: 66.9%;
  width: 30%;
  height: 24%;
  background-color: #f47649;
  z-index: -1;
  border-radius: 0 50% 50% 0;
}
.autText{
  font-size: 14px !important;
}
.tittle-style::before {
  content: '';
  position: absolute;
  left: -16vw;
  bottom: -22%;
  width: 80%;
  height: 75px;
  background-color: #f47649;
  z-index: 0;
  border-radius: 0 30px 30px 0;
}
.tittle-style::after{
  content: '';
  position: absolute;
  left: -16vw;
  bottom: -20.5%;
  width: 72%;
  height: 6px;
  background-color: #ffffff;
  z-index: 0;
}
.styled-title {
  position: relative;
  display: inline-block;
  font-size: 2rem; /* Tamaño relativo para el título */
  padding-left: 0;
  z-index: 1;
  color: white; /* Asegura que el texto comience en su posición natural */
}

.styled-title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -100vw; /* Comienza desde la izquierda de la pantalla */
  transform: translateY(-50%);
  height: 4.5rem; /* Franja más gruesa */
  background-color: #f47649;
  width: calc(100vw + 7cm); /* La franja cubre todo el ancho de la pantalla y se extiende 1 cm más allá del texto */
  z-index: -2;
  border-top-right-radius: 2rem; /* Redondea el borde superior derecho */
  border-bottom-right-radius: 2rem; /* Redondea el borde inferior derecho */
}

.styled-title::after {
  content: '';
  position: absolute;
  top: calc(50% + 25px); /* Coloca la línea blanca 4px debajo del texto */
  left: -100vw; /* Comienza desde el borde izquierdo de la pantalla */
  transform: translateY(-50%);
  height: 0.4rem; /* Altura de la línea blanca */
  background-color: white;
  width: calc(100vw + 6cm); /* La línea blanca cubre todo el ancho de la pantalla y se extiende 1 cm más allá del texto */
  z-index: -2;
}





.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(2, 250px);
  gap: 20px;
}

.circlle {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
}

.orange {
  background-color: #f47649;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50% 0 0 50%;
  }
  .image1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 50% 50% 0;
}

.square {
  width: 100%;
  height: 100%;
}

.purple {
  background-color: #4f2352;
}

.profile-card {
  color: white;
  display: flex;
  justify-content: flex-end;/* Color del texto blanco */
  flex-direction: column;
  padding: 20px;
  border-radius: 30px; /* Bordes redondeados */
  max-width: 350px;
  max-width: 350px;
  position: relative;
  z-index: 1;
}


.profile-cardT {
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 20px;
  border-radius: 30px;
  max-width: 350px;
  position: relative;
  z-index: 1;
}

.profile-card p {
  font-size: 16px;
  margin: 6px 0;
}
.img-autoras{

  max-width: 390px;
  width: auto;
  height: 390px;
}


@media (max-width: 480px) {
  #img-text {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 176px;
  }
  #text-img{
    font-size: 32px;
    right: 2vh;
  }
  #main-text{
    display: flex;
    flex-direction: column;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 8px;
    flex-direction: column;
    justify-content: center;
  }

  .custom-paragraph {
    font-size: 1rem;
    color: #4f2352;
  }


  .tittle-style {
    position: relative;
    padding: 20px;
  }
  .tittle-style::before {
    content: '';
    position: absolute;
    left: -12vw;
    bottom: 33%;
    width: 92%;
    height: 61px;
    background-color: #f47649;
    z-index: 0;
    border-radius: 0 30px 30px 0;
  }
  .tittle-style::after{
    content: '';
    position: absolute;
    left: -16vw;
    bottom: 38.1%;
    width: 90%;
    height: 6px;
    background-color: #ffffff;
    z-index: 0;
  }

  .custom-container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    flex-direction: column;
  }

  .img-autoras{
    max-width: 300px;
    width: auto;
    height: 260px;
  }

  .autNameT::before{
    content: '';
    position: absolute;
    left: -0.8vw;
    bottom: 7%;
    width: 104%;
    height: 291px;
    background-color: #0c8cab;
    z-index: -1;
    border-radius: 34px;
  }

  .autNameT::after{
    content: '';
    position: absolute;
    left: 58.4vw;
    bottom: 102.8%;
    width: 15%;
    height: 13%;
    background-color: #f47649;
    z-index: -1;
    border-radius: 0 50% 50% 0;
  }

  h2 {
    position: relative;
    color: white;
    font-size: 30px;
  }

  .autNameA::before{
    content: '';
    position: absolute;
    left: -0.8vw;
    bottom: 5%;
    width: 104%;
    height: 341px;
    background-color: #f47649;
    z-index: -1;
    border-radius: 30px;
  }

  .autNameA::after{
    content: '';
    position: absolute;
    left: 58.4vw;
    bottom: 102.8%;
    width: 15%;
    height: 13%;
    background-color: #0c8cab;
    z-index: -1;
    border-radius: 0 50% 50% 0;
  }





    .autText{
      font-size: 1rem !important;
    }

}
@media only screen and (min-width: 1200px ) and (max-width:1400px) {
  .custom-paragraph{
    font-size: 1.4rem;
    color: #4f2352;
  }
  .grid-container{
    display: grid;
    grid-template-columns: repeat(2, 225px);
    grid-template-rows: repeat(2, 225px);
    gap: 20px;
  }
  .autNameh2{
    font-size: 24px !important;
  }

  .profile-card{
    color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 12px;
    border-radius: 30px;
    max-width: 350px;
    max-width: 350px;
    position: relative;
    z-index: 1;
  }
  .autNameA::after{
    content: '';
    position: absolute;
    left: 13.4vw;
    bottom: 74.8%;
    width: 30%;
    height: 24%;
    background-color: #0c8cab;
    z-index: -1;
    border-radius: 0 50% 50% 0;
  }
  .autNameT::after{
    content: '';
    position: absolute;
    left: 12.9vw;
    bottom: 75.2%;
    width: 30%;
    height: 24%;
    background-color: #f47649;
    z-index: -1;
    border-radius: 0 50% 50% 0;
  }
  .autNameA::before{
    content: '';
    position: absolute;
    left: -0.3vw;
    bottom: 2.3%;
    width: 101%;
    height: 259px;
    background-color: #f47649;
    z-index: -1;
    border-radius: 30px;
  }

  .autNameT::before{
    content: '';
    position: absolute;
    left: -0.9vw;
    bottom: 5%;
    width: 101%;
    height: 251px;
    background-color: #0c8cab;
    z-index: -1;
    border-radius: 30px;

  }
  #icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #text-img{
    color: white;
    font-size: 90px;
    position: absolute;
    bottom: 0;
    right: 53px;
    z-index: 1;
  }
  .img-autoras{
    max-width: 330px;
    width: auto;
    height: 330px;
  }
.tittle-style::before{
  content: '';
  position: absolute;
  left: -16vw;
  bottom: -75%;
  width: 80%;
  height: 75px;
  background-color: #f47649;
  z-index: 0;
  border-radius: 0 30px 30px 0;
}
.tittle-style::after{
  content: '';
  position: absolute;
  left: -16vw;
  bottom: -73.5%;
  width: 72%;
  height: 6px;
  background-color: #ffffff;
  z-index: 0;
}
}
