<div class="container-fluid" id="backgroud-img">

  <div class="container-fluid">
    <div class="container-fluid position-relative" id="img-text">
      <p class="position-absolute bottom-0 end-0" id="text-img">¿QUIENES SOMOS?</p>
    </div>
  </div>

  <div class="container-fluid pt-5" >
  <div class="container" >

    <p>
      Es un proyecto de la Fundación Konrad Adenauer (KAS) en Colombia que busca promover el liderazgo político de
      adolescentes, jóvenes y mujeres en Colombia para que cada vez sean más en las esferas de poder y toma de decisión.
      Este surgió en el 2021 con el lanzamiento de la publicación “Podemos ser: mujeres jóvenes influyentes en la
      política Colombia" y la caja de herramientas "Puedo Ser por Colombia". <br>
      <br>
      Este incluye tres tipos de espacios: 1) Socialización 2) Mesa técnica 3)Programa de mentorías
    </p>
  </div>
  <div class="container pb-3 pt-3">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="ratio ratio-16x9">
          <iframe width="360" height="202" src="https://www.youtube.com/embed/ymCpVsB0MH0?si=3xah4au2wb6z_W-6"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

</div>
<div class="container-fluid" >
  <div class="container text-center">
    <h2 class="p-5">Coautoras</h2>
    <div class="row p-5">
      <div class="col">
        <p>
          <img src="../../assets/img/Generales/AvF.png" alt="Descripción de la imagen" width="202" height="360">
          <br><STRONG>ALEJANDRA VARGAS DURANGO</STRONG>
          <br>
          Co-creadora del proyecto "Podemos Ser"<br>
          &bull; Correo: alejandra.vargasdurango@gmail.com<br>
          &bull; Intagram: @alejandravargasdurango
        </p>
      </div>
      <div class="col">
        <p>
          <img src="../../assets/img/Generales/TnF.png" alt="Descripción de la imagen" width="202" height="360">
          <br><strong>TATIANA NIÑO MARTINÉZ</strong>
          <br>
          Co-creadora del proyecto "Podemos Ser"<br>
          &bull; Correo: tatiananm26@gmail.com<br>
          &bull; Intagram: @tatianan_<br>
        </p>
      </div>
    </div>

  </div>
</div>
