<div class="container-fluid position-relative" id="img-text">
  <div class="container">
    <h1 id="text-img">PODEMOS SER EN MEDIOS</h1>
  </div>
</div>
<div class="container-fluid" id="backgroud-img">
  <div class="container">


      <section id="Galeria" class="container">
          <div class="text-center pt-5">
            <h1>Podemos ser multimedia</h1>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <img src="assets/img/Generales/Alejandra.jpg" alt="Alejandra">
            </div>
            <div class="col-lg-4">
              <img src="assets/img/Generales/Alejandra.jpg" alt="Alejandra">
            </div>
            <div class="col-lg-4">
              <img src="assets/img/Generales/Alejandra.jpg" alt="Alejandra">
            </div>
          </div>

      </section>





      <div class="container py-3">
        <h2>&bull; Lanzamiento libro</h2>
        <p>
          &nbsp; &#x25CB; <a href="https://elcuartomosquetero.com/el-informe-que-visibiliza-a-mujeres-dentro-de-la-politica-en-colombia/">https://elcuartomosquetero.com/el-informe-que-visibiliza-a-mujeres-dentro-de-la-politica-en-colombia/</a>
           <br>
          &nbsp; &#x25CB; <a href="https://minas.medellin.unal.edu.co/noticias/3599-podemos-ser-mas-el-libro-que-busca-visibilizar-a-las-mujeres-influyentes-en-la-politica-colombiana">https://minas.medellin.unal.edu.co/noticias/3599-podemos-ser-mas-el-libro-que-busca-visibilizar-a-las-mujeres-influyentes-en-la-politica-colombiana</a>
          <br>
          &nbsp; &#x25CB; <a href="https://www.kas.de/es/web/kolumbien/veranstaltungsberichte/detail/-/content/programa-de-mentorias-puedo-ser-por-colombia-1">https://www.kas.de/es/web/kolumbien/veranstaltungsberichte/detail/-/content/programa-de-mentorias-puedo-ser-por-colombia-1</a>
          <br>
        </p>
      </div>
      <div class="container py-3">
        <h2>&bull; Mujeres del libro</h2>
        <p>
          &nbsp; &#x25CB; <a href="https://www.autonoma.edu.co/noticia/estudiante-uam-elegida-entre-270-mujeres-para-contar-su-historia-en-el-libro-podemos-sería">https://www.autonoma.edu.co/noticia/estudiante-uam-elegida-entre-270-mujeres-para-contar-su-historia-en-el-libro-podemos-sería</a>
          <br>
          &nbsp; &#x25CB; <a href="https://www.sinergiainformativa.com.co/concejal-lina-garcia-es-mujer-influyente-en-la-politica-colombiana/32878/">https://www.sinergiainformativa.com.co/concejal-lina-garcia-es-mujer-influyente-en-la-politica-colombiana/32878/</a>
          <br>
          &nbsp; &#x25CB; <a href="https://www.soydebuenaventura.com/articulos/la-mujer-es-la-esencia-del-corazon">https://www.soydebuenaventura.com/articulos/la-mujer-es-la-esencia-del-corazon</a>
            <br>
        </p>
      </div>
      <div class="container py-3">
        <h2>&bull; Socializaciones</h2>
        <p>
          &nbsp; &#x25CB; <a href="https://www.bcnoticias.com.co/podemos-ser-colombia-llego-a-manizales-para-inspirar-a-las-mujeres/">https://www.bcnoticias.com.co/podemos-ser-colombia-llego-a-manizales-para-inspirar-a-las-mujeres/</a>
           <br>
          &nbsp; &#x25CB; <a href="https://archivo.lapatria.com/informe-especial/participar-en-politica-libro-para-inspirar-las-mujeres-481091">https://archivo.lapatria.com/informe-especial/participar-en-politica-libro-para-inspirar-las-mujeres-481091</a>
           <br>
           &nbsp; &#x25CB; <a href="https://archivo.lapatria.com/politica/invitan-mujeres-jovenes-influir-en-la-politica-480993">https://archivo.lapatria.com/politica/invitan-mujeres-jovenes-influir-en-la-politica-480993</a>
            <br>
        </p>
      </div>
      <div class="container py-3">
        <h2>&bull; Proyecto</h2>
        <p>

          &nbsp; &#x25CB; <a href="https://iqlatino.org/podemos-ser-mujeres-jovenes-influyentes-en-la-politica-colombiana/">https://iqlatino.org/podemos-ser-mujeres-jovenes-influyentes-en-la-politica-colombiana/</a>
          <br>
          &nbsp; &#x25CB; <a href="https://archivo.lapatria.com/informe-especial/participar-en-politica-libro-para-inspirar-las-mujeres-481091">https://archivo.lapatria.com/informe-especial/participar-en-politica-libro-para-inspirar-las-mujeres-481091</a>
          <br>
          &nbsp; &#x25CB; <a href="https://uniandes.edu.co/es/noticias/premios-y-reconocimientos/huellas-que-transforman-y-aportan-al-pais">https://uniandes.edu.co/es/noticias/premios-y-reconocimientos/huellas-que-transforman-y-aportan-al-pais</a>
          <br>
        </p>
      </div>
  </div>
</div>
