nav {
  background-color: #562055;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}


.nav-link{
  margin-right: 20px;
  color: white;
  transition: transform 0.3s ease; /* Agrega una transición suave */
}

.nav-link:hover {
  transform: scale(1.1); /* Agrandar el tamaño del enlace en un 10% */
}
