/* styles.css */
@import "../app.component.css";

/* Personaliza el estilo de la línea de tiempo según tus necesidades */

#img-text {
  position: relative;
  background-image: url('/assets/img/BG/10 Octubre_Jornada juvenil Valledupar.jpg');
  background-size: cover;
  background-position: center;
  height: 376px;
}

#img-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(178deg, rgba(255,255,255,0) 42%, #df7c53 100%);
}

#text-img {
  color: white;
  font-size: 90px;
  position: absolute;
  bottom: 0;
  right: 300px;
  z-index: 1; /* Para asegurarse de que el texto esté encima del fondo azul */
}

#backgroud-img {
  background-image: url('../../assets/img/BG/KONRAD_30mujeres_texturas4.png');
  background-size: cover;
  background-position: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

#modal-toggle:checked + .modal {
  display: flex;
}

.date-image:hover {
  cursor: pointer;
}


.year {
  text-align: center;
  margin: -30px auto 0;
  font-size: 80px; /* Tamaño de fuente más grande */
  color:  #f47649; /* Color naranja */
  text-shadow: 2px 2px 4px #f47649;
}

.year2 {
  text-align: center;
  margin: -30px auto 0;
  font-size: 80px; /* Tamaño de fuente más grande */
  color: #4f2352; /* Color morado */
  text-shadow: 2px 2px 4px  #4f2352;
}

.year3 {
  text-align: center;
  margin: -30px auto 0;
  font-size: 80px; /* Tamaño de fuente más grande */
  color: #0c8cab; /* Color azul */
  text-shadow: 2px 2px 4px  #0c8cab;
}



.timeline-org h2 {
  color: #FF5733; /* Color naranja */
  border-color: #FF5733; /* Color naranja */
}

.timeline-pur h2 {
  color: #4f2352; /* Color púrpura */
  border-color: #4f2352; /* Color púrpura */
}

.timeline-blue h2 {
  color: #0c8cab; /* Color azul */
  border-color: #0c8cab; /* Color azul */
}

.timeline-title-pur {
  color: #4f2352; /* Color púrpura */
  border-color: #4f2352; /* Color púrpura */
}


.timeline-title-blue {
  color: #0c8cab; /* Color azul */
  border-color: #0c8cab; /* Color azul */
}
.main-timeline:before {
  content: "";
  display: block;
  width: 10px;
  height: 100%;
  background: linear-gradient(to bottom, #f47649 33.33%, #4f2352 33.33%, #4f2352 66.66%, #0c8cab 66.66%);
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

h2 {
  position: relative;
  color: white;
}
.tittle-style::before {
  content: '';
  position: absolute;
  left: -16vw; /* Posición inicial desde el borde izquierdo de la página */
  bottom: -27%;
  width: 80%;
  height: 75px;
  background-color: #f47649;
  z-index: 0 ;
  border-radius: 0 30px 30px 0;
}
.tittle-style::after{
  content: '';
  position: absolute;
  left: -16vw; /* Posición inicial desde el borde izquierdo de la página */
  bottom: -25.5%;
  width: 72%;
  height: 6px;
  background-color: #ffffff;
  z-index: 0;
}
.tittle-style2::before {
  content: '';
  position: absolute;
  left: -16vw; /* Posición inicial desde el borde izquierdo de la página */
  bottom: 40%;
  width: 80%;
  height: 75px;
  background-color: #0c8cab;
  z-index: 0 ;
  border-radius: 0 30px 30px 0;
}
.tittle-style2::after{
  content: '';
  position: absolute;
  left: -16vw; /* Posición inicial desde el borde izquierdo de la página */
  bottom: 41.5%;
  width: 72%;
  height: 6px;
  background-color: #ffffff;
  z-index: 0;
}


/* Asegúrate de que los elementos se comporten como esperas */
.main-timeline .timeline:nth-child(3n+1) .icon,
.main-timeline .timeline:nth-child(3n+1) .date-content:before,
.main-timeline .timeline:nth-child(3n+1) .date-outer:before,
.main-timeline .timeline:nth-child(3n+1) .date-outer:after {
  background-color: #f47649; /* Color naranja */
}

.main-timeline .timeline:nth-child(3n+2) .icon,
.main-timeline .timeline:nth-child(3n+2) .date-content:before,
.main-timeline .timeline:nth-child(3n+2) .date-outer:before,
.main-timeline .timeline:nth-child(3n+2) .date-outer:after {
  background-color: #4f2352; /* Color morado */
}

.main-timeline .timeline:nth-child(3n) .icon,
.main-timeline .timeline:nth-child(3n) .date-content:before,
.main-timeline .timeline:nth-child(3n) .date-outer:before,
.main-timeline .timeline:nth-child(3n) .date-outer:after {
  background-color: #0c8cab; /* Color azul */
}

h2 {
  position: relative;
}

.tittle1::before {
  content: '';
  position: absolute;
  bottom: 31%;
  width: 79%; /* Ancho de la página menos el relleno del h2 */
  height: 6px;
  background-color: #f47649;
  z-index: 10;
  left: -16vw; /* Posición inicial desde el borde izquierdo de la página */
}

.tittle2::before {
  content: '';
  position: absolute;
  bottom: 31%;
  width: 80%; /* Ancho de la página menos el relleno del h2 */
  height: 6px;
  background-color: #0c8cab;
  z-index: 10;
  left: -16vw; /* Posición inicial desde el borde izquierdo de la página */
}

h5 {
  font-size: 32px;
}

.main-timeline {
  position: relative;
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

/*.main-timeline .icon {
  width: 28px;
  height: 28px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}*/



.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #f47649;
  left: -3px
}

.main-timeline .icon:after {
  border: 2px solid #f47649;
  left: 3px
}

.main-timeline .timeline:hover .icon:before {
  left: 3px
}

.main-timeline .timeline:hover .icon:after {
  left: -3px
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 8px;
  background: #f47649;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1
}

.main-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #0c8cab;
  left: -6px
}

.main-timeline .date-outer:after {
  border: 2px solid #c6c6c6;
  left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right
}

.main-timeline .title {
  font-size: 39px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0;

}



.main-timeline .description {
  margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 5px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right
}

.date-image {
  width: 125px;
  height: 135px;
  margin: 0 auto;
  display: block; /* Asegura que la imagen se comporte como un bloque */
  max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  border-radius: 50%; /* Hace que la imagen tenga una forma de círculo */
  margin-top: -30px;
  /* Oculta cualquier parte de la imagen que se extienda fuera del círculo */
}

.timeline-content {
  text-align: justify;
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
    margin-top: 35px
  }
  .main-timeline .date-content:before {
    width: 22.5%
  }
  .main-timeline .timeline-content {
    padding: 10px 0 10px 30px
  }
  .main-timeline .title {
    font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 10px 30px 10px 0
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
    margin: 0;
    left: 7px
  }
  .main-timeline .timeline {
    margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
    margin-bottom: 0
  }
  .main-timeline .icon {
    display: none;
  }
  .main-timeline .date-content {
    width: 95%;
    float: right;
    margin-top: 0
  }
  .main-timeline .date-content:before {
    display: none
  }
  .main-timeline .date-outer {
    display: none;
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
    width: 110px;
    height: 110px
  }
  .main-timeline .date {
    top: 30%
  }
  .main-timeline .year {
    font-size: 100px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    width: 95%;
    text-align: center;
    padding: 10px 0
  }
  .main-timeline .title {
    margin-bottom: 10px
  }
}
