<div class="container-fluid position-relative"  id="img-text" class="img-fluid">
  <div class="container">
    <h1 id="text-img">NUESTRA OFERTA</h1>
  </div>
</div>
<div class="container-fluid" id="backgroud-img">
  <div class="circle circle1"></div>
<div class="circle circle2"></div>
<div class="circle circle3"></div>
  <div class="container py-5">


    <div class="container py-5 d-none d-sm-block">
      <table class="tg">
        <thead>
          <tr>
            <td class="tg-0lax" rowspan="3">
              <img src="../../assets/img/Carrousell/2023-comprimidas/12 Diciembre_Vista Hermosa.jpg" class="img-cards" width="365px" height="335px" alt="" style="z-index:10;">
            </td>
            <td class="tg-0lax" colspan="2">
              <h2 class="py-2 tittle1 text-left"style=" color: #FFFFFF;" >&nbsp;&nbsp;SOCIALIZACIÓN DEL PROGRAMA “PODEMOS SER”</h2>
            </td>
          </tr>
          <tr>
            <td class="tg-0lax" colspan="2">
              <p class="px-4">
                Presentación de: i) Libro; ii) Caja de herramientas; iii) Transferencia de conocimiento del programa de mentorías; iv) Testimonio de mujeres referente (opcional). Antes del evento se le entrega un libro a cada una de las asistentes.
              </p>
            </td>
          </tr>
          <tr>
            <td class="tg-0lax">
              <div class="row">
                <div class="col-sm-4 text-center">
                  <img src="../../assets/img/Generales/reloj.png" class="ilustration" width="120px" alt="">
                </div>
                <div class="col-sm-8">
                  <p id="text-Spc">3 horas</p>
                </div>
              </div>
            </td>
            <td class="">
              <div class="row">
                <div class="col-sm-4 text-center">
                  <img src="../../assets/img/Generales/Personita.png" class="ilustration" width="70px" alt="">
                </div>
                <div class="col-sm-8">
                  <p>Mujeres de distintas edades que estén interesadas en ejercer su liderazgo político ya sea en el ámbito electoral, técnico o social.</p>
                </div>
              </div>
            </td>
          </tr>
        </thead>
        </table>
    </div>
    <div class="container py-5 d-block d-sm-none">
      <div class="row">
        <div class="col-md-4">
          <img src="../../assets/img/Carrousell/2023-comprimidas/12 Diciembre_Vista Hermosa.jpg" class="img-cards" width="365px" alt="" style="z-index:10;">
        </div>
        <div class="col-md-8">
          <h2 class="py-2 tittle1 text-left" style="color: #FFFFFF;">&nbsp;&nbsp;SOCIALIZACIÓN DEL PROGRAMA “PODEMOS SER”</h2>
          <p class="px-4" style="text-align: center;">Presentación de: i) Libro; ii) Caja de herramientas; iii) Transferencia de conocimiento del programa de mentorías; iv) Testimonio de mujeres referente (opcional). Antes del evento se le entrega un libro a cada una de las asistentes.</p>
          <div class="row">
            <div class="col-sm-4 text-center">
              <img src="../../assets/img/Generales/reloj.png" class="ilustration" alt="">
            </div>
            <div class="col-sm-8">
              <p id="text-Spc">3 horas</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 text-center">
              <img src="../../assets/img/Generales/Personita.png" class="ilustration" alt="">
            </div>
            <div class="col-sm-8">
              <p>Mujeres de distintas edades que estén interesadas en ejercer su liderazgo político ya sea en el ámbito electoral, técnico o social.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-5">
      <table class="tg">
        <thead>
          <tr>
            <td class="tg-0lax" rowspan="3">
              <img src="../../assets/img/Carrousell/2021-comprimidas/08 Agosto_Ibagué (mesa técnica).jpg" class="img-cards" width="365px" height="335px" alt="">
            </td>
            <td class="tg-0lax" colspan="2">
              <h2 class="py-2 tittle2 text-left"style=" color: #FFFFFF;" >&nbsp;&nbsp;MESA TÉCNICA SOBRE LIDERAZGO FEMENINO</h2>
            </td>
          </tr>
          <tr>
            <td class="tg-0lax" colspan="2">
              <p class="px-4">
                Tiene dos secciones: i) Presentación del libro “Podemos Ser”; ii) Desarrollo del espacio de debate sobre iniciativas y desafíos en el liderazgo femenino en la región. Antes del evento se le entrega un libro y una cartilla a cada asistente. Al finalizar, se recopilan los puntos clave de la discusión y se envía un documento resumen a autoridades locales y asistentes.

              </p>
            </td>
          </tr>
          <tr>
            <td class="tg-0lax">
              <div class="row">
                <div class="col-sm-4 text-center">
                  <img src="../../assets/img/Generales/relojMorado.png" class="ilustration" width="120px" alt="">
                </div>
                <div class="col-sm-8">
                  <p id="text-Spc">2 horas</p>
                </div>
              </div>
            </td>
            <td class="">
              <div class="row">
                <div class="col-sm-4 text-center">
                  <img src="../../assets/img/Generales/PersonitaMorada.png" class="ilustration" width="70px" alt="" >
                </div>
                <div class="col-sm-8">
                  <p>Candidatas a cargos de elección popular, lideresas sociales,
                    autoridades locales, representantes de organismos multilaterales, entre otras.</p>
                </div>
              </div>
            </td>
          </tr>
        </thead>
        </table>
    </div>
    <div class="container py-5">
      <table class="tg">
        <thead>
          <tr>
            <td class="tg-0lax" rowspan="3" style="vertical-align: top;">
              <img src="../../assets/img/Carrousell/2022-comprimidas/08 Agosto_Marea Púrpura (Barranquilla).jpg" class="img-cards" width="365px" height="335px" alt="">
            </td>
            <td class="tg-0lax" colspan="2">
              <h2 class="py-3 tittle3 text-left"style=" color: #FFFFFF;" >&nbsp;&nbsp;PROGRAMA DE MENTORÍAS</h2>
            </td>
          </tr>
          <tr>
            <td class="tg-0lax" colspan="2">
              <p class="px-4">
                Programa en el que se aborda cada uno de los módulos que compone la cartilla para fortalecer las capacidades de liderazgo. Al finalizar se le entrega un certificado a cada una de las participantes que cumplió con la asistencia mínima.
              </p>

                <p class="px-4">
                <img src="../../assets/img/Generales/ico_r.ico" class="Tags" width="14" alt=""> Sesión 1 (virtual): Transferencia de conocimiento de la cartilla y observaciones para su adaptación local <br>
                <img src="../../assets/img/Generales/ico_r.ico" class="Tags" width="14" alt=""> Sesión 2 (presencial): Presentación del libro y la cartilla. Desarrollo del módulo “Autoconocimiento” <br>
                <img src="../../assets/img/Generales/ico_r.ico" class="Tags" width="14" alt=""> Sesión 3 (virtual): Desarrollo del módulo “proyecto de vida” <br>
                <img src="../../assets/img/Generales/ico_r.ico" class="Tags" width="14" alt=""> Sesión 4 (virtual): Desarrollo del módulo “liderazgo” <br>
                <img src="../../assets/img/Generales/ico_r.ico" class="Tags" width="14" alt=""> Sesión 5 (presencial): Desarrollo del módulo “relacionamiento” y cierre del programa. Entrega de certificados. <br>
              </p>
            </td>
          </tr>
          <tr>
            <td class="tg-0lax">
              <div class="row">
                <div class="col-sm-4 text-center">
                  <img src="../../assets/img/Generales/relojNaranja.png" class="ilustration" width="120px" alt="">
                </div>
                <div class="col-sm-8">
                  <p id="text-Spc">5 sesiones</p>
                </div>
              </div>
            </td>
            <td class="">
              <div class="row">
                <div class="col-sm-4 text-center">
                  <img src="../../assets/img/Generales/PersonitaNaranja.png"class="ilustration" width="70px" alt="" id="PersonOrange">
                </div>
                <div class="col-sm-8">
                  <p>Mujeres de distintas edades que estén interesadas en ejercer su
                    liderazgo político ya sea en el ámbito electoral, técnico o social. Instituciones encargadas de promover el liderazgo femenino, que servirán como facilitadores (Colegios, Universidades, Colectivos de mujeres, Secretarías de Gobierno).
                    </p>
                </div>
              </div>
            </td>
          </tr>
        </thead>
        </table>
    </div>
    <div class="container text-center py-5">
      <a href="https://www.kas.de/es/web/kolumbien/statische-inhalte-detail/-/content/podemos-ser" target="_blank">
        <button class="btn btn-secondary btn-lg btn-gigante" style="border-radius: 35px ;">¡Aquí encontrarás nuestro boletín mensual!</button>
      </a>
    </div>
    <br>
    <br>
  </div>
</div>
