<div class="container-fluid position-relative"  id="img-text" class="img-fluid">
  <div class="container">
    <h1 id="text-img">NUESTRA OFERTA</h1>
  </div>
</div>
<div class="container-fluid" id="backgroud-img">
  <div class="container my-5">
    <h1>Nuestra Oferta</h1>

  <h2>Socialización del programa “Podemos Ser”</h2>
  <p>
  &bull;¿Qué es? Presentación de:
  i) Libro;
  ii) Caja de herramientas;
  iii) Transferencia de
  conocimiento del programa de mentorías;
  iv) Testimonio de mujeres referente (opcional).
  Antes del evento se le entrega un libro a cada una de las asistentes. <br>
  &bull; Duracion: 3 horas. <br>
  &bull; Publico Principal: mujeres de distintas edades que estén interesadas en ejercer <br>
  su liderazgo político ya sea en el ámbito electoral, técnico o social.
  </p>

  <h2>Mesa técnica sobre liderazgo femenino</h2>

  <p>
  &bull;¿Qué es? Tiene dos secciones: <br>
  i) Presentación del libro “Podemos Ser”; <br>
  ii) Desarrollo del espacio de debate sobre iniciativas y desafíos en el liderazgo femenino en la región. Antes del evento se le entrega un libro y una cartilla a cada asistente. Al finalizar, se recopilan los puntos clave de la discusión y se envía un documento resumen a autoridades locales y asistentes.<br>
  &bull;Duración: 2 horas <br>
  &bull;Público principal: candidatas a cargos de elección popular, lideresas sociales, <br>
  autoridades locales, representantes de organismos multilaterales, entre otras. <br>
  </p>

  <h2>Programa de mentorías</h2>

  &bull;¿Qué es? Programa en el que se aborda cada uno de los módulos que compone la cartilla para fortalecer las capacidades de liderazgo. Al finalizar se le entrega un certificado a cada una de las participantes que cumplió con la asistencia mínima.<br>
  &bull; Duración: 5 sesiones<br>
  Sesión 1 (virtual): Transferencia de conocimiento de la cartilla y observaciones para su adaptación local<br>
  Sesión 2 (presencial): Presentación del libro y la cartilla. Desarrollo del módulo “Autoconocimiento”<br>
  Sesión 3 (virtual): Desarrollo del módulo “proyecto de vida” <br>
  Sesión 4 (virtual): Desarrollo del módulo “liderazgo” <br>
  Sesión 5 (presencial): Desarrollo del módulo “relacionamiento” y cierre del programa. Entrega de certificados. <br>
  &bull;Público objetivo: mujeres de distintas edades que estén interesadas en ejercer su liderazgo político ya sea en el ámbito electoral, técnico o social. Instituciones encargadas de promover el liderazgo femenino, que servirán como facilitadores (Colegios, Universidades, Colectivos de mujeres, Secretarías de Gobierno).<br>


  <h2>Boletines</h2>

  &bull;¡Aquí encontrarás nuestro boletín mensual!
  <a href="https://drive.google.com/drive/folders/1a4lDzxOVI9Bz_Bjn5p39Kz-vw3REI9LR?usp=sharing" target="_blank"> <br>
    <button>Click</button>
  </a>


  </div>
</div>
