/* styles.css */
@import "../app.component.css";
#img-text {
  position: relative;
  background-image: url('../../assets/img/BG/08 Agosto_Marea Púrpura (Barranquilla).jpg');
  background-size: cover;
  background-position: center;
  height: 376px;
}

#img-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(178deg, rgba(255,255,255,0) 42%, rgba(12,140,171,1) 100%);
}

.img-cards{
  border-top-right-radius: 65px;
  position: relative;
  z-index: 10;
  object-fit: cover;
}


#text-img {
  color: white;
  font-size: 90px;
  position: absolute;
  bottom: 0;
  right: 300px;
  z-index: 1; /* Para asegurarse de que el texto esté encima del fondo azul */
}

#backgroud-img {
  background-image: url('../../assets/img/BG/KONRAD_30mujeres_texturas4.png');
  background-size: cover;
  background-position: center;
  z-index: -10;
}
h2 {
  position: relative;
}
.tittle1{
  position: relative;
  z-index: 1;
}
.tittle2{
  position: relative;
  z-index: 1;
}
.tittle3{
  position: relative;
  z-index: 1;
}
p{
  font-size: 1.2rem;
}


.tittle1::after {
  content: '';
  position: absolute;
  left: -2vw;
  bottom: -16.5%;
  width: 90%;
  height: 62px;
  background-color: #0c8cab;
  z-index: -1;
  border-radius: 45px 45px 45px 45px;
}
.tittle1::before {
  content: '';
  position: absolute;
  bottom: 1%;
  width: 75%; /* Ancho de la página menos el relleno del h2 */
  height: 4px;
  background-color: #ffffff;
  z-index: 10;
  left: -1vw; /* Posición inicial desde el borde izquierdo de la página */
}
.tittle2::after {
  content: '';
  position: absolute;
  left: -2vw;
  bottom: -16.5%;
  width: 90%;
  height: 62px;
  background-color: #562055;
  z-index: -1;
  border-radius: 45px 45px 45px 45px;
}
.tittle2::before {
  content: '';
  position: absolute;
  bottom: 1%;
  width: 75%; /* Ancho de la página menos el relleno del h2 */
  height: 4px;
  background-color: #ffffff;
  z-index: 10;
  left: -1vw; /* Posición inicial desde el borde izquierdo de la página */
}
.tittle3::after {
  content: '';
  position: absolute;
  left: -2vw;
  bottom: -14.5%;
  width: 86%;
  height: 62px;
  background-color: #f47649;
  z-index: -1;
  border-radius: 45px 45px 45px 45px; /* Posición inicial desde el borde izquierdo de la página */
}
#PersonOrange{
  padding-top: 28px;
}
.tittle3::before {
  content: '';
  position: absolute;
  bottom: 1%;
  width: 75%; /* Ancho de la página menos el relleno del h2 */
  height: 4px;
  background-color: #ffffff;
  z-index: 10;
  left: -1vw; /* Posición inicial desde el borde izquierdo de la página */
}

.btn-gigante {
  padding: 20px 40px; /* Ajusta el tamaño del botón según sea necesario */
  font-size: 24px; /* Tamaño de fuente */
}
.btn{
  background-color: #0c8cab;
  border-color: #f47649;
}
.circle {
  position: absolute;
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: 200px; /* Ajusta el tamaño según sea necesario */
  background-color: rgba(0, 0, 0, 0.1); /* Ajusta el color según sea necesario */
   /* Hace un medio círculo */
}

.circle1 {
  width: 150px;
  height: 300px;
  top: 57%;
  right: 0px;
  background-color: #f47649;
  clip-path: ellipse(100% 50% at 100% 50%);
}

.circle2 {
  width: 600px;
  height: 300px;
  top: 125%;
  left: 0px;
  background-color: #0c8cab;
  clip-path: ellipse(25% 50% at 0% 50%); /* Ajusta el valor para obtener las esquinas redondeadas */
}

.circle3 {
  width: 80px;
  height: 80px;
  top: 107%;
  right: 174px;
  background-color: #562055;
  border-radius: 20%;
}
#text-Spc{
  padding-top: 23px;
  padding-left: 43px;
  font-size: 26px;
}
@media (max-width: 480px) {
  #img-text {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 176px;
  }
  #text-img{
    font-size: 32px;
    right: 2vh;
  }
  .circle {
    display: none;
  }

  .Tags{
    width: 11px !important;
  }
  .ilustration{
    width: 60px !important;
  }
  .tg img {
    width: 100%;
    height: auto;
  }
  .tg td {
    display: block;
    width: 100%;
    text-align: center;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col-sm-4,
  .col-sm-8 {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .tittle1, .tittle2, .tittle3 {
    font-size: 1.2rem;
    padding-left: 0;
  }
  .px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .tittle1::after{
    content: '';
    position: absolute;
    left: -9vw;
    bottom: -9.5%;
    width: 100%;
    height: 62px;
    background-color: #0c8cab;
    z-index: -1;
    border-radius: 0px 45px 45px 0px;
  }
  .tittle1::before{
    content: '';
    position: absolute;
    bottom: 1%;
    width: 93%;
    height: 4px;
    background-color: #ffffff;
    z-index: 10;
    left: -9vw;
  }
  .tittle2::after{
    content: '';
    position: absolute;
    left: -9vw;
    bottom: -9.5%;
    width: 114%;
    height: 62px;
    background-color: #562055;
    z-index: -1;
    border-radius: 0px 45px 45px 0px;
  }
  .tittle2::before{
    content: '';
    position: absolute;
    bottom: 1%;
    width: 106%;
    height: 4px;
    background-color: #ffffff;
    z-index: 10;
    left: -9vw;
  }
  .tittle3::after{
    content: '';
    position: absolute;
    left: -9vw;
    bottom: -5.5%;
    width: 104%;
    height: 51px;
    background-color: #f47649;
    z-index: -1;
    border-radius: 0px 45px 45px 0px;
  }
  .tittle3::before{
    content: '';
    position: absolute;
    bottom: 10%;
    width: 98%;
    height: 4px;
    background-color: #ffffff;
    z-index: 10;
    left: -9vw;
  }
  #text-Spc{
    padding-top: 23px;
    padding-left: 17px;
    font-size: 26px;
  }
}

@media only screen and (min-width: 1200px ) and (max-width:1400px) {

  h2{
    font-size: 1.6rem;
  }
  #text-img{
    right: 35px;
  }
  .tittle1::before{
    width: 92%;
  }
  .tittle2::before{
    width: 92%;
  }
  .tittle3::before{
    width: 92%;
  }
  .tittle1::after{

    width: 98%;

  }

  .tittle2::after{

    width: 98%;

  }
  .ilustration{
    width: 75px;
    }

  .tittle3::after{
  content: '';
  position: absolute;
  left: -2vw;
  bottom: -7.5%;
  width: 98%;
  height: 62px;
  background-color: #f47649;
  z-index: -1;
  border-radius: 45px 45px 45px 45px;
}
.tittle3::before{
  content: '';
  position: absolute;
  bottom: 12%;
  height: 4px;
  background-color: #ffffff;
  z-index: 10;
  left: -1vw;
}
#text-Spc{
  padding-left: 13px;
  padding-top: 3px;
  padding-right: 58px;
  font-size: 20px;
  text-align: center;
}
.circle1 {
  width: 100px;
  height: 200px;
  top: 76%;
  right: 0px;
  background-color: #f47649;
  clip-path: ellipse(100% 50% at 100% 50%);
}

.circle2 {
  width: 600px;
  height: 300px;
  top: 125%;
  left: 0px;
  background-color: #0c8cab;
  clip-path: ellipse(25% 50% at 0% 50%); /* Ajusta el valor para obtener las esquinas redondeadas */
}

.circle3 {
  width: 70px;
  height: 70px;
  top: 170%;
  right: 85px;
  background-color: #562055;
  border-radius: 20%;
}
}
