/* styles.css */
@import "../app.component.css";
#img-text {
  position: relative;
  background-image: url('../../assets/img/BG/08 Agosto_Marea Púrpura (Barranquilla).jpg');
  background-size: cover;
  background-position: center;
  height: 376px;
}

#img-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(178deg, rgba(255,255,255,0) 42%, rgba(12,140,171,1) 100%);
}

.img-cards{
  border: 20px solid #0c8cab;
}
.img-cards2{
  border: 20px 20px 20px 20px solid #562055;
}
.img-cards3{
  border: 20px solid #f47649;
}

#text-img {
  color: white;
  font-size: 90px;
  position: absolute;
  bottom: 0;
  right: 300px;
  z-index: 1; /* Para asegurarse de que el texto esté encima del fondo azul */
}

#backgroud-img {
  background-image: url('../../assets/img/BG/KONRAD_30mujeres_texturas4.png');
  background-size: cover;
  background-position: center;
}
h2 {
  position: relative;
}

.tittle1{
  border: 21px solid #0c8cab;
border-radius: 0px 25px 25px 0px;
background-color: #0c8cab;
}

.tittle2{
  border: 21px solid #562055;
border-radius: 0px 25px 25px 0px;
background-color: #562055;
}
.tittle3{
  border: 21px solid #f47649;
border-radius: 0px 25px 25px 0px;
background-color: #f47649;
}

.tittle1::before {
  content: '';
  position: absolute;
  bottom: 1%;
  width: 91%; /* Ancho de la página menos el relleno del h2 */
  height: 6px;
  background-color: #ffffff;
  z-index: 10;
  left: -1vw; /* Posición inicial desde el borde izquierdo de la página */
}
.tittle2::before {
  content: '';
  position: absolute;
  bottom: 1%;
  width: 91%; /* Ancho de la página menos el relleno del h2 */
  height: 6px;
  background-color: #ffffff;
  z-index: 10;
  left: -1vw; /* Posición inicial desde el borde izquierdo de la página */
}
.tittle3::before {
  content: '';
  position: absolute;
  bottom: 1%;
  width: 91%; /* Ancho de la página menos el relleno del h2 */
  height: 6px;
  background-color: #ffffff;
  z-index: 10;
  left: -1vw; /* Posición inicial desde el borde izquierdo de la página */
}

.btn-gigante {
  padding: 20px 40px; /* Ajusta el tamaño del botón según sea necesario */
  font-size: 24px; /* Tamaño de fuente */
}
.btn{
  background-color: #0c8cab;
  border-color: #f47649;
}
