<div class="container-fluid position-relative"  id="img-text" class="img-fluid">
  <div class="container">
    <h1 id="text-img">NUESTRA OFERTA</h1>
  </div>
</div>
<div class="container-fluid" id="backgroud-img">
  <div class="container py-5">

    <h2 class="py-5 tittle1 text-center"style=" color: #562055;" >Socialización del programa “Podemos Ser”</h2>
    <p>
      <img src="../../assets/img/Generales/ps_icon2.png" alt="" height="12" width="12">&nbsp; ¿Qué es? Presentación de:<br>
      &nbsp;<img src="../../assets/img/Generales/ps_icon3.png" alt="" height="12" width="12">&nbsp;Libro; <br>
      &nbsp;<img src="../../assets/img/Generales/ps_icon3.png" alt="" height="12" width="12">&nbsp;Caja de herramientas; <br>
      &nbsp;<img src="../../assets/img/Generales/ps_icon3.png" alt="" height="12" width="12">&nbsp;Transferencia de conocimiento del programa de mentorías; <br>
      &nbsp;<img src="../../assets/img/Generales/ps_icon3.png" alt="" height="12" width="12">&nbsp;Testimonio de mujeres referente (opcional). <br>
      Antes del evento se le entrega un libro a cada una de las asistentes. <br>
      <img src="../../assets/img/Generales/ps_icon2.png" alt="" height="12" width="12">&nbsp; Duracion: 3 horas. <br>
      <img src="../../assets/img/Generales/ps_icon2.png" alt="" height="12" width="12">&nbsp; Publico Principal: mujeres de distintas edades que estén interesadas en ejercer <br>
      su liderazgo político ya sea en el ámbito electoral, técnico o social.
    </p>

    <h2 class="py-5 tittle2 text-center" style=" color: #f47649;">Mesa técnica sobre liderazgo femenino</h2>

    <p>
      <img src="../../assets/img/Generales/ps_icon2.png" alt="" height="12" width="12">&nbsp;¿Qué es? Tiene dos secciones: <br>
      &nbsp;<img src="../../assets/img/Generales/ps_icon3.png" alt="" height="12" width="12">&nbsp;Presentación del libro “Podemos Ser”; <br>
      &nbsp;<img src="../../assets/img/Generales/ps_icon3.png" alt="" height="12" width="12">&nbsp;Desarrollo del espacio de debate sobre iniciativas y desafíos en el liderazgo femenino en la región. Antes del
      evento se le entrega un libro y una cartilla &nbsp;&nbsp;&nbsp; a cada asistente. Al finalizar, se recopilan los puntos clave de la
      discusión y se envía un documento resumen a autoridades locales y asistentes.<br>
      <img src="../../assets/img/Generales/ps_icon2.png" alt="" height="12" width="12">&nbsp;Duración: 2 horas <br>
      <img src="../../assets/img/Generales/ps_icon2.png" alt="" height="12" width="12">&nbsp;Público principal: candidatas a cargos de elección popular, lideresas sociales, <br>
      autoridades locales, representantes de organismos multilaterales, entre otras. <br>
    </p>

    <h2 class="py-5 tittle3 text-center" style=" color: #0c8cab;">Programa de mentorías</h2>
    <p>
      <img src="../../assets/img/Generales/ps_icon2.png" alt="" height="12" width="12">&nbsp;¿Qué es? Programa en el que se aborda cada uno de los módulos que compone la cartilla para fortalecer las
      capacidades de liderazgo. Al finalizar se le entrega un certificado a cada una de las participantes que cumplió con
      la asistencia mínima.<br>
      <img src="../../assets/img/Generales/ps_icon2.png" alt="" height="12" width="12">&nbsp; Duración: 5 sesiones<br>
      Sesión 1 (virtual): Transferencia de conocimiento de la cartilla y observaciones para su adaptación local<br>
    &nbsp;<img src="../../assets/img/Generales/ps_icon3.png" alt="" height="12" width="12">&nbsp;Sesión 2 (presencial): Presentación del libro y la cartilla. Desarrollo del módulo “Autoconocimiento”<br>
    &nbsp;<img src="../../assets/img/Generales/ps_icon3.png" alt="" height="12" width="12">&nbsp;Sesión 3 (virtual): Desarrollo del módulo “proyecto de vida” <br>
    &nbsp;<img src="../../assets/img/Generales/ps_icon3.png" alt="" height="12" width="12">&nbsp;Sesión 4 (virtual): Desarrollo del módulo “liderazgo” <br>
    &nbsp;<img src="../../assets/img/Generales/ps_icon3.png" alt="" height="12" width="12">&nbsp;Sesión 5 (presencial): Desarrollo del módulo “relacionamiento” y cierre del programa. Entrega de certificados. <br>
    <img src="../../assets/img/Generales/ps_icon2.png" alt="" height="12" width="12">&nbsp;Público objetivo: mujeres de distintas edades que estén interesadas en ejercer su liderazgo político ya sea en
    el ámbito electoral, técnico o social. Instituciones encargadas de promover el liderazgo femenino, que servirán como
    facilitadores (Colegios, Universidades, Colectivos de mujeres, Secretarías de Gobierno).<br>
    </p>
    <div class="container text-center py-5">
      <!-- Utilizando la clase de tamaño de botón de Bootstrap y la clase personalizada -->
      <a href="https://www.kas.de/es/web/kolumbien/statische-inhalte-detail/-/content/podemos-ser" target="_blank">
        <button class="btn btn-secondary btn-lg btn-gigante">¡Aquí encontrarás nuestro boletín mensual!</button>
      </a>
    </div>
    <br>
    <br>
  </div>
</div>
