/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://db.onlinewebfonts.com/c/b1bbe083029c949c2531dc2679f37c54?family=DIN-Black');

body{
  margin-top: 5rem;
  height: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: "DIN-Black";

}
p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*.circle { */
 /* position: absolute;*/
 /* border-radius: 50%;*/
 /* background-color: rgba(0, 0, 0, 0.1); /* Ajusta el color según sea necesario */
/*} */

/*.circle1 {*/
  /*width: 150px;*/
 /* height: 150px;*/
 /* top: 80%;*/
 /* right: 95%;*/
/*  background-color: #f47649; /* Color naranja */ 
/*}*/

/*.circle2 {*/
  /*width: 100px;*/
 /* height: 100px;*/
 /* top: 260%;*/
 /* left: 97%;*/
  /*background-color: #0c8cab; /* Color morado */
/*}*/

/*.circle3 {*/
 /* width: 200px;*/
/*  height: 200px;*/
 /* top: 100%;*/
 /* left: 95%;*/
  /*background-color: #20B2AA; /* Color azul-verde */
/*}*/
