/* styles.css */
@import "../app.component.css";

@font-face {
  font-family: 'LEMONMILK-RegularItalic'; /* Nombre de la fuente */
  src: url('/src/assets/fonts/lemon_milk/LEMONMILK-RegularItalic.otf') format('opentype'); /* Ruta al archivo de fuente */
 /* font-weight: bold; /* Peso de la fuente */
  font-style: normal; /* Estilo de la fuente */
}

#img-text {
  position: relative;
  background-image: url('../../assets/img/Generales/homepagepng.png');
  background-size: cover;
  background-position: center;
  height: 376px;
}

#text-img {
  color: #4f2352;
  justify-content: center;
  font-family: 'LEMONMILK-Bold', sans-serif;
    font-size: 5rem; /* Tamaño de fuente más grande */
    font-weight: 530; /* Grosor de la fuente */
    text-shadow: 2px 2px 2px rgb(73,46,102); /* Efecto de relieve */
  letter-spacing: 1px;
}

#backgroud-img {
  background-image: url('../../assets/img/BG/KONRAD_30mujeres_texturas4.png');
  background-size: cover;
  background-position: center;
}
#Btn-deco{
  width: 30px;
}

p {
  font-size: 22px;
  text-align:left;
  letter-spacing: 1px;
}

.bold-orange {
  font-weight: bold; /* Texto en negrita */
  color: #ff5733; /* Color naranja */
}


.banda {
    background-color: #0c8cab;
    border-radius: 10px;
}

#carouselExampleSlidesOnly {
  margin-top: 50px; /* Espacio superior entre el carrusel y el texto */
}

h1 {
  margin-top: 50px; /* Espacio superior entre el título y el contenido */
}

iframe {
  margin-top: 20px; /* Espacio superior entre los iframes */
  display: block;
  margin: 0 auto /* Centra los iframes */
}

/* Estilos específicos para el carrusel */
.carousel-item img {
  max-width: 100%; /* Asegura que las imágenes del carrusel sean responsivas */
}



h3.descarga {
  color: #4f2352; /* Color morado */
  font-size: 40px; /* Tamaño grande */
  letter-spacing: 2px; /* Espaciado entre letras */
  margin-top: 4px; /* Espacio superior */
  text-shadow: 2px 2px 4px #4f2352; /* Sombra de texto */
}

.descarga:hover {
  color: #ff5733; /* Cambia el color al pasar el cursor */
  transition: color 0.3s ease-in-out; /* Transición suave del color */
  cursor: pointer; /* Cambia el cursor al pasar sobre el texto */
}

.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 250px;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #0c8cab; /* hsl(226, 25%, 69%);*/
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    (#0c8cab) 0%
    (#0c8cab) 8%
    (#0c8cab) 92%
    (#0c8cab) 100%
   /* hsl(248, 39%, 39%) 0%,
    hsl(248, 39%, 49%) 8%,
    hsl(248, 39%, 39%) 92%,
    hsl(248, 39%, 29%) 100%*/
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background:#4f2352;/*hsl(248, 53%, 58%);*/
  padding: 16px 32px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

#carouselExampleSlidesOnly .carousel-inner img {
  width: 20%; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Mantiene la proporción original de la imagen */
}

.galleryContainer {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 70vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.custom-btn-primary {
  background-color: #ff5733;
  border-color: #ff5733;
  padding: 12px 24px;
  font-size: 1.25rem; /* Aumenta el tamaño de la fuente */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.custom-btn-primary:hover {
  background-color: #4f2352;
  border-color: #4f2352;
}
.arrow-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 30px;
  background-color: white;
  border-radius: 25px;
  margin-left: 8px;
}
#bodycard_orange{
  background-color: #4f2352;
}
#bodycard_purple{
  background-color: #ff5733;
}
#readNow{
  color: white;
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
}

.custom-btn-primary2 {
  background-color: #4f2352;
  border-color: #4f2352;
  padding: 12px 24px;
  font-size: 1.25rem; /* Aumenta el tamaño de la fuente */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-btn-primary2:hover {
  background-color: #ff5733;
  border-color: #ff5733;
}

.arrow-right2 {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-top: 3px solid #ff5733;
  border-right: 3px solid #ff5733;
  transform: rotate(45deg);
}

.card-img-top.first-card {
  height: 350px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Para mantener la imagen ajustada dentro del contenedor */
}
.rounde-bottom  {
  border-bottom-left-radius: 25px !important ; /* Ajusta el valor según sea necesario */
  border-bottom-right-radius:25px !important; /* Ajusta el valor según sea necesario */
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
@media screen and (max-width: 768px) {
  .container iframe {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  #text-img{

    font-size: 41px;
  }

  p {
    font-size: 9px;
    text-align:left;
    letter-spacing: 1px;
  }
  
  .responsive-img {
    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    height: auto;   /* Mantiene la proporción de la imagen */
  }

  h3.descarga {
    color: #4f2352; /* Color morado */
    font-size: 21px; /* Tamaño grande */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-top: 4px; /* Espacio superior */
    text-shadow: 2px 2px 4px #4f2352; /* Sombra de texto */
  }

}
