<div class="container-fluid position-relative" id="img-text"  class="img-fluid" id="backgroud-img" >
  <div class="container">
    <h1 id="text-img"></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col" style="width: 50%; align-items: center;">
      <h1 id="text-img">SORORIDAD COMO <br> APUESTA POLÍTICA</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <img src="../../assets/img/Generales/Png podemos ser 2.png" class="img-home">
    </div>
    <div class="col-6">
      <p>Este proyecto hace un llamado a la <strong class="bold-orange">sororidad</strong>  como apuesta política para la inclusión de más mujeres en las esferas de toma de decisión en el país. 
        Partimos de la unión, de la creación de <strong class="bold-orange">redes</strong> formales e informales como pilares fundamentales para generar articulaciones estratégicas que permitan 
        incrementar la posibilidad de que una niña, adolescente o joven colombiana pueda desarrollarse como la mujer que sueña ser, garantizando sus <strong class="bold-orange">derechos</strong> 
        civiles, políticos, económicos, sociales y culturales en condiciones igualitarias. Es por ello que este proyecto aporta a un llamado colectivo para trascender la <strong class="bold-orange">representación</strong> 
        descriptiva y transitar a una representación sustantiva, donde todas podemos ser.</p>
    </div>
  </div>
</div>


<div class="container galleryContainer py-4">
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr1.jpg');
      ">

  </div>
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr2.jpg');
      ">

  </div>
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr3.jpg');
      ">

  </div>
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr4.jpg');
      ">
  
  </div>
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr5.jpg');
      ">
 
  </div>
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr6.jpg');
      ">
 
  </div>
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr7.jpg');
      ">
  </div>
</div>

<div class="container py-5 text-center">
  <h3 class="descarga">DESCARGA NUESTRO CONTENIDO</h3>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="text-center card h-100">
        <img class="card-img-top first-card" src="../../assets/img/Generales/libro.png" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <a href="https://www.kas.de/documents/287914/0/KONRAD_30mujeres_web.pdf/226bd703-ad0c-454c-57e8-225cf4489c96?t=1613579727000" class="btn custom-btn-primary text-white w-100 mt-auto">
            ¡LEER AHORA! <span class="arrow-container"><span class="arrow-right"></span></span>
          </a>
        </div>
      </div>
    </div>
    <br>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="text-center card h-100">
        <img class="card-img-top" src="../../assets/img/Generales/cartilla.png" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <a href="https://www.kas.de/documents/287914/0/KONRAD_30mujeres_web.pdf/226bd703-ad0c-454c-57e8-225cf4489c96?t=1613579727000" class="btn custom-btn-primary2 text-white w-100 mt-auto">
            ¡LEER AHORA! <span class="arrow-container"><span class="arrow-right"></span></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<br>

<div class="container">
  <iframe width="1000" height="450" src="https://www.youtube.com/embed/ymCpVsB0MH0?si=pdCdSmDeQ2Dmv3YH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

