<div class="container-fluid position-relative" id="img-text"  class="img-fluid" >
  <div class="container">
    <h1 id="text-img">Sororidad como apuesta política</h1>
  </div>
</div>
<div class="container-fluid" id="backgroud-img">

  <div class="container">
  <p>Este proyecto hace un llamado a la <strong class="bold-purple ">sororidad</strong>  como apuesta política para la inclusión de más mujeres en las esferas de toma de decisión en el país. Partimos de la unión, de la creación de <strong class="bold-purple ">redes</strong> formales e informales como pilares fundamentales para generar articulaciones estratégicas que permitan incrementar la posibilidad de que una niña, adolescente o joven colombiana pueda desarrollarse como la mujer que sueña ser, garantizando sus <strong class="bold-purple">derechos</strong> civiles, políticos, económicos, sociales y culturales en condiciones igualitarias. Es por ello que este proyecto aporta a un llamado colectivo para trascender la <strong class="bold-purple">representación</strong> descriptiva y transitar a una representación sustantiva, donde todas podemos ser.</p>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/img/CarrousellHome/0a748270-6d0b-4f3f-beaa-11ae566310bc.jpg" height="60px" class="d-block mx-auto img-fluid" alt="None">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/CarrousellHome/2023PodemosSer.jpg" class="d-block mx-auto img-fluid" alt="None">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/CarrousellHome/0a748270-6d0b-4f3f-beaa-11ae566310bc.jpg" class="d-block mx-auto img-fluid" alt="None">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/CarrousellHome/6F1F7EBA-6B01-4FCE-8738-BB6266EE6D06.jpg" class="d-block mx-auto img-fluid" alt="None">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/CarrousellHome/9701ea3e-6626-4e50-978f-a0ab9293c2ea.jpg" class="d-block mx-auto img-fluid" alt="None">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/CarrousellHome/a209c989-fa8f-4fa3-ab9e-87edce8d78b4.jpg" class="d-block mx-auto img-fluid" alt="None">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/CarrousellHome/IMG_3838.jpg" class="d-block mx-auto img-fluid" alt="None">
    </div>
  </div>
</div>

<div class="container">
  <h3 class="descarga">Descarga nuestro contenido</h3>
</div>


  <div class="container">
  <div class="container h-100 w-auto" style="width: 70px;">
    <div class="row">
      <div class="col"><iframe src="../../assets/pdf/KONRAD_30mujeres_web.pdf" width="100%" height="300px"></iframe></div>
      <div class="col"><iframe src="../../assets/pdf/Cartilla por pagina_KONRAD_30 mujeres_Puede ser por Colombia_Caja de herramientas.pdf" width="100%" height="300px"></iframe></div>
    </div>
  </div>

  <iframe  width="360" height="202" src="https://www.youtube.com/embed/ymCpVsB0MH0?si=pdCdSmDeQ2Dmv3YH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>
