<div class="container-fluid position-relative" id="img-text"  class="img-fluid" >
  <div class="container">
    <h1 id="text-img"></h1>
  </div>
</div>

<div class="container-fluid py-5" id="backgroud-img">
  <div class="container text-center">
    <h1 id="text-img" class="display-4">Sororidad como apuesta política</h1>
</div>

<div class="container-fluid banda p-4">
  <div class="container">
    <p>Este proyecto hace un llamado a la <strong class="bold-purple ">sororidad</strong>  como apuesta política para la inclusión de más mujeres en las esferas de toma de decisión en el país. Partimos de la unión, de la creación de <strong class="bold-purple ">redes</strong> formales e informales como pilares fundamentales para generar articulaciones estratégicas que permitan incrementar la posibilidad de que una niña, adolescente o joven colombiana pueda desarrollarse como la mujer que sueña ser, garantizando sus <strong class="bold-purple">derechos</strong> civiles, políticos, económicos, sociales y culturales en condiciones igualitarias. Es por ello que este proyecto aporta a un llamado colectivo para trascender la <strong class="bold-purple">representación</strong> descriptiva y transitar a una representación sustantiva, donde todas podemos ser.</p>
  </div>
</div>


<div class="container galleryContainer py-4">
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr1.jpg');
      ">

  </div>
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr2.jpg');
      ">

  </div>
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr3.jpg');
      ">

  </div>
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr4.jpg');
      ">
  
  </div>
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr5.jpg');
      ">
 
  </div>
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr6.jpg');
      ">
 
  </div>
  <div class="slide" style="
        background-image: url('../../assets/img/CarrousellHome/Carr7.jpg');
      ">
  </div>
</div>

<div class="container py-5 text-center">
  <h3 class="descarga">Descarga nuestro contenido</h3>
</div>
  
<div class="container">
  <div class="row">
    <div class="col text-center">
      <div class="image-container">
        <img src="../../assets/img/Generales/libro.png" style="max-width: 300px; height: auto;">
      </div>
      <br>
      <button class="pushable" onclick="window.open('https://www.kas.de/documents/287914/0/KONRAD_30mujeres_web.pdf/226bd703-ad0c-454c-57e8-225cf4489c96?t=1613579727000', '_blank');">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front">
          ¡Lee ahora!
        </span>
      </button>
    </div>
    <div class="col text-center">
      <div class="image-container">
        <img src="../../assets/img/Generales/cartilla.png" style="max-width: 240px; height: auto;">
      </div>
      <br>
      <button class="pushable" onclick="window.open('https://www.kas.de/documents/287914/0/Cartilla+por+pagina_KONRAD_30+mujeres_Puede+ser+por+Colombia_Caja+de+herramientas.pdf/89233cee-167d-4e4e-37bc-6411f9b8a015?t=1678124739139', '_blank');">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front">
          ¡Lee ahora!
        </span>
      </button>
    </div>
  </div>
</div>

<br>

<div class="container">
  <iframe width="1000" height="450" src="https://www.youtube.com/embed/ymCpVsB0MH0?si=pdCdSmDeQ2Dmv3YH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

</div>
